<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="Matthew Lopez" content="r&eacute;sum&eacute;" />
    <title>Matthew Lopez's R&eacute;sum&eacute;</title>
    <meta
      name="Explains his experience, education, and hobbies"
      content="Items pertaining to Matthew Lopez's resume"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <!-- Uncomment this after you've uploaded your custom fonts to the server to allow 
    simultaneous layout and text painting -->

    <!-- <link rel="preload" href="/fonts/awesome-l.svg" as="font"> -->
    <!-- <link rel="preload" href="/fonts/awesome-l.svg" as="font"> -->
    <!-- <link rel="preload" href="/fonts/awesome-l.svg" as="font"> -->

    <!-- See this link and section Optimizing Loading and Rendering 
    https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/webfont-optimization -->
  </head>

  <body>
    <header>
      <div>
        Matthew Lopez
      </div>
      <!-- navigation menu -->
      <nav>
        <ul>
          <li>
            Meet Me
          </li>
          <li>
            Experience
          </li>
          <li>
            Education
          </li>
          <li>
            Contact
          </li>
          <li>
            Extras
          </li>
        </ul>
      </nav>
      <!-- End of 
      navigation menu -->
    </header>
    <div id="about">
      <h1>Meet Me</h1>
    </div>
    <div id="experience">
      <h1>What Matthew's Done</h1>
    </div>
    <div id="education">
      <h1>What Matthew's Learned</h1>
    </div>
    <div id="Contact">
      <div>
        Phone
      </div>
      <div>
        Email
      </div>

      <div id="social"></div>
    </div>
    <div id="extras"></div>
    <footer></footer>
  </body>
</html>
