<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="Matthew Lopez" content="r&eacute;sum&eacute;" />
    <title>Matthew Lopez's R&eacute;sum&eacute;</title>
    <meta
      name="Explains his experience, education, and hobbies"
      content="Items pertaining to Matthew Lopez's resume"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <!-- Uncomment this after you've uploaded your custom fonts to the server to allow 
    simultaneous layout and text painting -->

    <!-- <link rel="preload" href="/fonts/awesome-l.svg" as="font"> -->
    <!-- <link rel="preload" href="/fonts/awesome-l.svg" as="font"> -->
    <!-- <link rel="preload" href="/fonts/awesome-l.svg" as="font"> -->

    <!-- See this link and section Optimizing Loading and Rendering 
    https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/webfont-optimization -->
  </head>

  <body>    
    <app-about>
      <app-header></app-header>
    </app-about>
    <app-experience></app-experience>
    <app-education></app-education>
    <app-extras></app-extras>
    <app-contact></app-contact>
    <app-footer></app-footer>
  </body>
</html>
